.sidebar {
  width: 260px;
  background-color: var(--color-sidebar-bg);
  backdrop-filter: blur(10px);
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar.closed {
  transform: translateX(-100%);
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  height: 70px;
  border-bottom: 1px solid var(--color-border);
  position: relative; /* Para posicionamiento absoluto del botón */
}

.sidebar .sidebar-toggle-button {
  position: absolute;
  right: 10px; /* Posiciona el botón a la derecha */
  top: 50%;
  transform: translateY(-50%);
}


.logo {
  font-size: 1.8rem;
  font-weight: var(--font-weight-bold);
  background: var(--color-background);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin: 0; /* Eliminamos el margen para un mejor centrado */
}



.sidebar-nav {
  padding: calc(var(--spacing-unit) * 2);
  flex-grow: 1;
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-category {
  display: block;
  padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 2);
  margin-top: var(--spacing-unit);
  color: var(--color-text-secondary);
  font-size: 0.875rem;
  font-weight: var(--font-weight-semibold);
  text-transform: uppercase;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: calc(var(--spacing-unit) * 1.5) calc(var(--spacing-unit) * 2);
  border-radius: var(--border-radius-md);
  color: var(--color-text-primary);
  font-weight: var(--font-weight-medium);
  transition: background-color 0.2s ease, color 0.2s ease;
  margin-bottom: var(--spacing-unit);
}

.nav-item:hover {
  background-color: var(--color-hover-bg);
  text-decoration: none;
}

.nav-item.active {
  background: var(--color-background);
  color: #ffffff;
  box-shadow: 0 4px 15px var(--color-hover-bg);
  transform: translateX(4px);
}

.nav-icon {
  margin-right: calc(var(--spacing-unit) * 2);
  width: 20px;
  height: 20px;
  /* Placeholder style for icon */
  background-color: #ccc;
  border-radius: 4px;
}

.nav-item.active .nav-icon {
  background-color: #fff;
}

/* En móvil, la barra lateral está fuera de la pantalla por defecto */
@media (max-width: 767px) {
  .sidebar {
    transform: translateX(-100%);
  }
  .sidebar.open {
    transform: translateX(0);
  }
}